* {
    margin: 0;
    padding: 0;
}

header {
    background-color: tan;
    display: grid;
    grid-template-columns: auto auto;
    padding: .625rem ;
}

ul {
    display: flex;
    justify-content: end;
    padding-top: .625rem;
}

.guatape {
    width: 100%;
    opacity: 0.3;
}

.navbar {
    list-style-type: none;
    padding-right: 1rem;
    cursor: pointer;
}

.container {
    position: relative;
}

.center {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 18px;
}